body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Open Sans';
  }

  .page-footer{
      display: block;
      color: #333333
  }

  .page-footer-inner{
      padding-left: 30px;
      padding-right: 30px;
  }

  .copyright-info{
      float: left;
      font-size: 13px;
      font-family: 'Open Sans'
  }
  